@import "assets/variables";

* {
  margin: 0;
  padding: 0;
}

body{
  background: #5ea6ef;
}

.flex{
  display: flex;
  align-items: center;
}

main {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  height: 100vh;
  align-items: center;

  .current {
    overflow: hidden;
    display: grid;
    grid-template-rows: 5% 15% 10% 35% 35%;
    align-items: center;
    justify-items: center;
    padding: 10px;
    width: 400px;
    height: 600px;
    @include default-border-white();



    h1,h2,h3,h4,h5,h6 {
      color: white;
    }

    background: linear-gradient(45deg, rgb(0, 159, 255) 0%, rgba(119,219,254,1) 100%);
    .greyText{
      color: $grey-text-color;

    }
  }

  .news {
    @include default-border-white();
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
  }

  .weatherInfo {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    justify-items: center;
    width: 100%;
    color: white;
  }

  .lineChart{
    width: 100%;
  }
}

.cards {
  display: flex;

  .card {
    margin: 0px 10px;
    padding: 10px 20px;
    @include default-border-white();
  }
}

ul {
  margin: 20px 50px;
}